// SPDX-License-Identifier: GPL-2.0+
/*
 * Samsung Exynos7420 SoC device tree source
 *
 * Copyright (c) 2016 Samsung Electronics Co., Ltd.
 *		http://www.samsung.com
 */

/dts-v1/;
#include "skeleton.dtsi"
#include <dt-bindings/clock/exynos7420-clk.h>
/ {
	compatible = "samsung,exynos7420";
	interrupt-parent = <&gic>;

	fin_pll: fin_pll {
		compatible = "fixed-clock";
		clock-output-names = "fin_pll";
		u-boot,dm-pre-reloc;
		#clock-cells = <0>;
	};

	phyclk_usbdrd300_udrd30_phyclock: phyclk_usbdrd300_udrd30_phyclock {
		compatible = "fixed-clock";
		clock-output-names = "phyclk_usbdrd300_udrd30_phyclock";
		#clock-cells = <0>;
		clock-frequency = <60000000>;
	};

	phyclk_usbdrd300_udrd30_pipe_pclk: phyclk_usbdrd300_udrd30_pipe_pclk {
		compatible = "fixed-clock";
		clock-output-names = "phyclk_usbdrd300_udrd30_pipe_pclk";
		#clock-cells = <0>;
		clock-frequency = <125000000>;
	};

	phyclk_ufs20_tx0_symbol: phyclk_ufs20_tx0_symbol {
		compatible = "fixed-clock";
		clock-output-names = "phyclk_ufs20_tx0_symbol";
		#clock-cells = <0>;
		clock-frequency = <300000000>;
	};

	phyclk_ufs20_rx0_symbol: phyclk_ufs20_rx0_symbol {
		compatible = "fixed-clock";
		clock-output-names = "phyclk_ufs20_rx0_symbol";
		#clock-cells = <0>;
		clock-frequency = <300000000>;
	};

	phyclk_ufs20_rx1_symbol: phyclk_ufs20_rx1_symbol {
		compatible = "fixed-clock";
		clock-output-names = "phyclk_ufs20_rx1_symbol";
		#clock-cells = <0>;
		clock-frequency = <300000000>;
	};

	gic: interrupt-controller@11001000 {
		compatible = "arm,gic-400";
		#interrupt-cells = <3>;
		#address-cells = <0>;
		interrupt-controller;
		reg =	<0x11001000 0x1000>,
			<0x11002000 0x1000>,
			<0x11004000 0x2000>,
			<0x11006000 0x2000>;
	};

	clock_topc: clock-controller@10570000 {
		compatible = "samsung,exynos7-clock-topc";
		reg = <0x10570000 0x10000>;
		#clock-cells = <1>;
		clocks = <&fin_pll>;
		clock-names = "fin_pll";
	};

	clock_top0: clock-controller@105d0000 {
		compatible = "samsung,exynos7-clock-top0";
		reg = <0x105d0000 0xb000>;
		#clock-cells = <1>;
		clocks = <&fin_pll>, <&clock_topc DOUT_SCLK_BUS0_PLL>,
				<&clock_topc DOUT_SCLK_BUS1_PLL>,
				<&clock_topc DOUT_SCLK_CC_PLL>,
				<&clock_topc DOUT_SCLK_MFC_PLL>;
		clock-names = "fin_pll", "dout_sclk_bus0_pll",
					"dout_sclk_bus1_pll", "dout_sclk_cc_pll",
					"dout_sclk_mfc_pll";
	};

	clock_top1: clock-controller@105e0000 {
		compatible = "samsung,exynos7-clock-top1";
		reg = <0x105e0000 0xb000>;
		#clock-cells = <1>;
		clocks = <&fin_pll>, <&clock_topc DOUT_SCLK_BUS0_PLL>,
				<&clock_topc DOUT_SCLK_BUS1_PLL>,
				<&clock_topc DOUT_SCLK_CC_PLL>,
				<&clock_topc DOUT_SCLK_MFC_PLL>;
		clock-names = "fin_pll", "dout_sclk_bus0_pll",
					"dout_sclk_bus1_pll", "dout_sclk_cc_pll",
					"dout_sclk_mfc_pll";
	};

	clock_ccore: clock-controller@105b0000 {
		compatible = "samsung,exynos7-clock-ccore";
		reg = <0x105b0000 0xd00>;
		#clock-cells = <1>;
		clocks = <&fin_pll>, <&clock_topc DOUT_ACLK_CCORE_133>;
		clock-names = "fin_pll", "dout_aclk_ccore_133";
	};

	clock_peric0: clock-controller@13610000 {
		compatible = "samsung,exynos7-clock-peric0";
		reg = <0x13610000 0xd00>;
		#clock-cells = <1>;
		clocks = <&fin_pll>, <&clock_top0 DOUT_ACLK_PERIC0>,
				<&clock_top0 CLK_SCLK_UART0>;
		clock-names = "fin_pll", "dout_aclk_peric0_66",
					"sclk_uart0";
	};

	clock_peric1: clock-controller@14c80000 {
		compatible = "samsung,exynos7-clock-peric1";
		reg = <0x14c80000 0xd00>;
		#clock-cells = <1>;
		clocks = <&fin_pll>, <&clock_top0 DOUT_ACLK_PERIC1>,
				<&clock_top0 CLK_SCLK_UART1>,
				<&clock_top0 CLK_SCLK_UART2>,
				<&clock_top0 CLK_SCLK_UART3>;
		clock-names = "fin_pll", "dout_aclk_peric1_66",
					"sclk_uart1", "sclk_uart2", "sclk_uart3";
	};

	clock_peris: clock-controller@10040000 {
		compatible = "samsung,exynos7-clock-peris";
		reg = <0x10040000 0xd00>;
		#clock-cells = <1>;
		clocks = <&fin_pll>, <&clock_topc DOUT_ACLK_PERIS>;
		clock-names = "fin_pll", "dout_aclk_peris_66";
	};

	clock_fsys0: clock-controller@10e90000 {
		compatible = "samsung,exynos7-clock-fsys0";
		reg = <0x10e90000 0xd00>;
		#clock-cells = <1>;
		clocks = <&fin_pll>, <&clock_top1 DOUT_ACLK_FSYS0_200>,
				<&clock_top1 DOUT_SCLK_MMC2>,
				<&phyclk_usbdrd300_udrd30_phyclock>,
				<&phyclk_usbdrd300_udrd30_pipe_pclk>;
		clock-names = "fin_pll", "dout_aclk_fsys0_200",
					"dout_sclk_mmc2",
					"phyclk_usbdrd300_udrd30_phyclock",
					"phyclk_usbdrd300_udrd30_pipe_pclk";
	};

	clock_fsys1: clock-controller@156e0000 {
		compatible = "samsung,exynos7-clock-fsys1";
		reg = <0x156e0000 0xd00>;
		#clock-cells = <1>;
		clocks = <&fin_pll>, <&clock_top1 DOUT_ACLK_FSYS1_200>,
				<&clock_top1 DOUT_SCLK_MMC0>,
				<&clock_top1 DOUT_SCLK_MMC1>,
				<&clock_top1 DOUT_SCLK_UFSUNIPRO20>,
				<&clock_top1 DOUT_SCLK_PHY_FSYS1>,
				<&clock_top1 DOUT_SCLK_PHY_FSYS1_26M>,
				<&phyclk_ufs20_tx0_symbol>,
				<&phyclk_ufs20_rx0_symbol>,
				<&phyclk_ufs20_rx1_symbol>;
		clock-names = "fin_pll", "dout_aclk_fsys1_200",
					"dout_sclk_mmc0", "dout_sclk_mmc1",
					"dout_sclk_ufsunipro20", "dout_sclk_phy_fsys1",
					"dout_sclk_phy_fsys1_26m",
					"phyclk_ufs20_tx0_symbol",
					"phyclk_ufs20_rx0_symbol",
					"phyclk_ufs20_rx1_symbol";
	};

	pinctrl@13470000 {
		compatible = "samsung,exynos7420-pinctrl";
		reg = <0x13470000 0x1000>;
		u-boot,dm-pre-reloc;

		serial1_bus: serial1-bus {
			samsung,pins = "gpd1-3", "gpd1-2", "gpd1-1", "gpd1-0";
			samsung,pin-function = <2>;
			samsung,pin-pud = <3>;
			samsung,pin-drv = <0>;
			u-boot,dm-pre-reloc;
		};

		serial2_bus: serial2-bus {
			samsung,pins = "gpd1-4", "gpd1-5";
			samsung,pin-function = <2>;
			samsung,pin-pud = <3>;
			samsung,pin-drv = <0>;
			u-boot,dm-pre-reloc;
		};
	};

	serial@14C20000 {
		compatible = "samsung,exynos4210-uart";
		reg = <0x14C20000 0x100>;
		u-boot,dm-pre-reloc;
		clocks = <&clock_peric1 PCLK_UART1>,
			 <&clock_peric1 SCLK_UART1>;
		clock-names = "uart", "clk_uart_baud0";
		pinctrl-names = "default";
		pinctrl-0 = <&serial1_bus>;
	};

	serial@14C30000 {
		compatible = "samsung,exynos4210-uart";
		reg = <0x14C30000 0x100>;
		u-boot,dm-pre-reloc;
		clocks = <&clock_peric1 PCLK_UART2>,
			 <&clock_peric1 SCLK_UART2>;
		clock-names = "uart", "clk_uart_baud0";
		pinctrl-names = "default";
		pinctrl-0 = <&serial2_bus>;
	};
};
